<section class="response-section">
  <div class="response-header">
    <div class="response-meta">
      @if (response(); as resp) {
      <span>Status: {{ resp.status }} {{ resp.statusText }}</span>
      <span>Time: {{ resp.duration }}</span>
      <span>Size: {{ getBodySize() }}</span>
      } @else {
      <span>Status: —</span>
      <span>Time: —</span>
      <span>Size: —</span>
      }
    </div>

  </div>

  <div class="response-body">
    @if (response() && response()?.body; as body) {
    <ngx-json-viewer [json]="body"></ngx-json-viewer>
    } @else {
    <pre>No response yet</pre>
    }
  </div>
</section>
