<aside class="sidebar">
  <button mat-flat-button class="new-request-btn" (click)="openModal()">
    <mat-icon>add</mat-icon>
    New Collection
  </button>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search collections</mat-label>
    <mat-icon matPrefix> search </mat-icon>
    <input matInput />
  </mat-form-field>

  <div class="collections">

    <div class="collection-title"> Collections </div>

    @for ( collection of collections(); track collection.collectionId ) {

    <mat-expansion-panel [expanded]="collection.isExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title class="collection-header">

          <i [class]="collection.icon" class="collection-icon">
          </i>

          <span class="collection-name">
            {{ collection.title }}
          </span>

        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="request-list">

        @for ( request of collection.requests; track request.requestId ) {
        <button mat-button class="request-item" [class.get]="request.method === 'GET'"
          [class.post]="request.method === 'POST'" [class.put]="request.method === 'PUT'"
          [class.delete]="request.method === 'DELETE'">
          <span class="method"> {{ request.method }} </span>
          {{ request.name }}
        </button>
        }

        @empty {
        <div class="empty-state">
          No requests yet
        </div>
        }

      </div>

    </mat-expansion-panel>
    }

    @empty {
    <div class="empty-state">
      No collections yet
    </div>
    }

  </div>
</aside>


@if(isModalOpen()){
<div class="modal-overlay">
  <div class="modal-card">

    <!-- Header -->
    <div class="modal-header-custom">
      <h5 class="mb-0">
        <i class="fas fa-folder-plus me-2"></i>
        Add Collection
      </h5>

      <button type="button" class="modal-close-btn" aria-label="Close" (click)="closeModal()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <!-- Form -->
    <form [formGroup]="collectionForm" (ngSubmit)="addCollection()">

      <!-- Body -->
      <div class="modal-body-custom">
        <label class="form-label">Collection name</label>
        <input type="text" class="form-control collection-input" placeholder="e.g. Users API" formControlName="title" />

        @if ( title?.invalid && title?.touched) {
        <small class="text-danger">
          Collection name is required
        </small>
        }

      </div>

      <!-- Footer -->
      <div class="modal-footer-custom">
        <button type="button" class="btn btn-light cancel-btn" (click)="closeModal()">
          Cancel
        </button>

        <button type="submit" class="btn create-btn" [disabled]="collectionForm.invalid">
          <i class="fas fa-plus me-2"></i>
          Create Collection
        </button>
      </div>
    </form>
  </div>
</div>
}
